{% extends "layout/base.html" %}

{% block title %}Book Page{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-2">

        <div class="list-group">
            <a href="{% url 'book:index' %}" class="list-group-item list-group-item-action {% if not categ_id %}active{% endif %}">
              ALL
            </a>
            {% for c in categories %}
            <a href="{% url 'book:index' %}?categoryid={{c.id}}" class="list-group-item list-group-item-action {% if categ_id|add:'0' == c.id %}active{% endif %}">{{c.name}}</a>
            {% endfor %}
        </div>
        
    </div>
    <div class="col-lg-10">
        <h1>Book</h1>


        <div class="row">
            {% for b in books %}
            <div class="col-lg-3">
                <div class="card">
                    <a href="#">
                        <img src="{{ b.image.url }}" alt="" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5><a href="#">{{b.name}}</a></h5>
                        <div>Category: {{b.category.name}}</div>
                        <div>Price: {{b.price|floatformat:2}}</div>
                        <a href="#" class="btn btn-info mt-4">View detail</a>
                    </div>
                </div>
            </div>
            {% endfor %}
                
        </div>
    </div>
</div>
{% endblock %}